{% extends 'base.html' %}

{% block info %}



<h1 style="font-family: Bebas Neue;font-style: italic;margin-left: 40rem;">PROFILE'S</h1>

{% for profile in object_list %}

<div class="card" style="width: 20rem;margin-left: 40rem;font-family: Bebas Neue;">
  {% if profile.profile_image %}
  <img src="{{profile.profile_image.url}}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">First name: {{profile.first_name}}</h5>
    <h5 class="card-title">Last Name:{{profile.last_name}}</h5>
    <h5 class="card-title">Phone:{{profile.phone}}</h5>
    <h5 class="card-title">Adress:{{profile.adress}}</h5>
    <h5 class="card-title">City:{{profile.city}}</h5>
    <h5 class="card-title">Gender:{{profile.gender}}</h5>
    <h5 class="card-title">Email:{{profile.email}}</h5>
  </div>
<a href="/profile/edit_profile/{{profile.id}}" class="btn btn-success">Edit</a>
</div>


{% endfor %}

{% endblock %}





